@font-face {
    font-family: 'Cannonade';
    font-weight: 500;
    src: url('../fonts/Cannonade.ttf');
}

@font-face {
    font-family: 'Cannonade';
    font-weight: 700;
    src: url('../fonts/CannonadeBold.ttf');
}

